@import 'nth-grid';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

pre {
    padding: 1.5rem;
    background: #f6f6f6;
    font-size: 1rem;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

.grid-item {
    background: #7FDBFF;
    margin-bottom: 1rem;
    line-height: 50px;
    text-align: center;
    color: #fff;
}


////////////////////////
/// Testing begins here.
////////////////////////

.grid-1 {
    @include nth-grid-base;

    > * {
        @include nth-grid(1 2 3, 1rem);
    }
}

.grid-2 {
    @include nth-grid-base;

    > * {
        @include nth-grid(6 5 4 3 2 1, 1rem);
    }
}

.grid-3 {
    @include nth-grid-base;

    > * {
        @include nth-grid(1 3 2, 0);
    }
}

.grid-4 {
    @include nth-grid-base;

    > * {
        @include nth-grid(1 200px 20vw, 1rem);
    }
}

.grid-5 {
    @include nth-grid-base;

    > * {
        @include nth-grid(200px 1 100px 2, 1rem);
    }
}