@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}
  
@function grid-item-size($size: 1, $break: auto) {
    // Parsing percents, decimals, n of n and number counts
    @if type-of($size) == 'number' {
        @if unit($size) == '%' {
            $size: $size;
        }
        @else if $size < 1 {
            $size: percentage($size);
        }
        @else {
            $size: percentage(1 / $size);
        }
    }
    // Anything else is incorrect
    @else {
        @error 'Wrong syntax for grid-item-size().';
    }

    @return $size;
}
  
  
@mixin grid(
    $layout: 3,
    $break: auto,
    $gutter: 1rem,
    $selector: '.grid-item'
) {
    display: flex;
    flex-wrap: wrap;

    @if type-of($layout) == 'number' {
        $width: percentage(1 / $layout);

        // Calculation for the calc() gutter subtraction
        $calc-gutter: $gutter / $layout  * ($layout - 1);
        
        @for $i from 1 through $layout {

            // Margin to apply. Set to 0 for end of row.
            $margin: if($i == $layout, 0, $gutter);

            #{$selector}:nth-child(#{$layout}n + #{$i}) {
                width: calc(#{$width} - #{$calc-gutter});
                margin-right: $margin;
            }
        }
    }
    @else if type-of($layout) == 'list' {
        // Zero the total
        $total: 0;

        // Add up total of supplied values
        @each $value in $layout {
            $total: $total + $value;
        }

        // Get the length of the list for calculations.
        $length: length($layout);

        @for $i from 1 through $length {
            $item: nth($layout, $i);
            $width: percentage($item / $total);

            // Margin to apply. Set to 0 for end of row.
            $margin: if($i == $length, 0, $gutter);

            // Calculation for the calc() gutter subtraction
            $calc-gutter: $gutter / $length  * ($length - 1);

            #{$selector}:nth-child(#{$length}n + #{$i}) {
                width: calc(#{$width} - #{$calc-gutter});
                margin-right: $margin;
            }
        }
    }
}
