// Base grid properties
@mixin grid($behavior: row wrap) {
  $direction: if(index($behavior, column) != null, column, row);
  $wrap: if(index($behavior, nowrap) != null, nowrap, wrap);

  display: flex;
  flex-flow: $direction $wrap;
}
