@mixin _nth-grid-number(
    $layout,
    $gutter,
    $selector,
    $vertical
) {
  $measure: if($vertical, height, width);
  $position: _gutter-position($vertical);
  $nth-selector: if($selector == child, nth-child, nth-of-type);

  @if unitless($layout) {
    @if $layout != 1 {
      &:#{$nth-selector}(n) {
        #{$measure}: _cell-size($layout, 1, $gutter);
        margin-#{$position}: $gutter;
      }

      &:#{$nth-selector}(#{$layout}n) {
        margin-#{$position}: 0;
      }
    }
    @else {
      &:#{$nth-selector}(n) {
        #{$measure}: 100%;
        margin-#{$position}: 0;
      }
    }
  }
  @else {
    @error 'If using a single value it should be a single unitless number.';
  }
}
