@mixin _nth-grid-list(
    $layout,
    $gutter,
    $selector,
    $vertical,
    $loop
) {
  $measure: if($vertical, height, width);
  $position: _gutter-position($vertical);
  $nth-selector: if($selector == child, nth-child, nth-of-type);

  // Add up total of supplied values
  $total: sum($layout);

  // Get the length of the list for calculations.
  $length: length($layout);

  @for $i from 1 through $length {

    // Margin to apply. Set to 0 for end of row.
    $margin: if($i == $length, 0, $gutter);

    
    $n: if($loop, '#{$length}n + #{$i}', '#{$i}');

    &:#{$nth-selector}(#{$n}) {
      #{$measure}: _cell-size($layout, $i, $gutter);
      margin-#{$position}: $margin;
    }
  }
}
