@mixin _grid-map(
    $layout,
    $gutter,
    $selector,
    $vertical
) {
  $measure: if($vertical, height, width);
  $position: _gutter-position($vertical);

  $map-values: map-values($layout);
  $map-total: 0;
  $global-index: 1;

  @each $list in $map-values {
    $map-total: $map-total + length($list);
  }

  @each $row, $list in $layout {
    // Get the length of the list for calculations.
    $length: length($list);

    // Add up total of supplied values
    $total: sum($list);

    // Loop over each item in the row
    @for $i from 1 through $length {
      // Margin to apply. Set to 0 for end of row
      $margin: if($i == $length, 0, $gutter);

      // Calculation for the calc() gutter subtraction
      $calc-gutter: _calc-gutter($gutter, $length);

      #{$selector}:nth-child(#{$map-total}n + #{$global-index}) {
        #{$measure}: _cell-size($list, $i, $gutter);
        margin-#{$position}: $margin;
      }

      // Increase our global index by 1 each loop
      $global-index: $global-index + 1;
    }
  }
}
