@mixin grid(
    $layout: $grid-layout,
    $gutter: $grid-gutter,
    $selector: $grid-selector,
    $base: true,
    $vertical: false,
    $wrap: null
) {
  @if $wrap == null and $vertical {
    $wrap: false;
  }
  @else if $wrap == null and not $vertical {
    $wrap: true;
  }
  @else {
    $wrap: $wrap;
  }

  @if $base {
    $direction: if($vertical, column, row);
    $wrap: if($wrap, wrap, nowrap);

    display: flex;
    flex-flow: $direction $wrap;
  }

  @if type-of($layout) == 'number' {
    @include -is-grid-number($layout, $gutter, $selector, $vertical);
  }
  @else if type-of($layout) == 'list' {
    @include -is-grid-list($layout, $gutter, $selector, $vertical);
  }
  @else if type-of($layout) == 'map' {
    @include -is-grid-map($layout, $gutter, $selector, $vertical);
  }
}
