@import 'nth-grid';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

////////////////////////
/// Testing begins here.
////////////////////////

.app {
    @include grid;
    height: 100vh;

    > * {
        @include nth-grid(200px 400px 1, 1rem);
    }
}

.nav {
    background: #eee;
    padding: 2rem;
}

.summary {
    background: #eee;
    overflow-y: hidden;
    @include grid;

    > * {
        @include nth-grid(50px 90vh, $vertical: true);
    }
}

.preview {
    padding: 1rem;

    & + .preview {
        border-bottom: 1px solid #ddd;
    }
}

.scroll {
    overflow-y: auto;
    max-height: 100%;
}

.message {
    @include grid(column, nowrap);
    max-height: 100%;

    > * {
        @include nth-grid(90vw 10vh, $vertical: true);
    }
}

.details {
    padding: 2rem;
}

.sort {
    padding: 2rem;
}

.reply {
    padding: 1rem;
    background: #ddd;

    input {
        width: 100%;
    }
}