/// Calculates the size of the gutter value used in the calc() calculation for a cell.
///
/// @param {Number}      $gutter - The gutter size.
/// @param {String|List} $layout - The layout passed to the grid mixin.
///
/// @return {List}
///
@function _calc-gutter($gutter, $layout) {
    $length: 0;

    // If $layout is a list use the length of the list
    @if type-of($layout) == 'list' {
        $length: length($layout);
    }

    // Otherwise a unitless value was supplied
    // eg 3 so we use that instead (3 columns)
    @else if unitless($layout) {
        $length: $layout;
    }

    // If not a list or number something is wrong
    @else {
        @error '$layout must be a list or a unitless number.';
    }

    @return ($gutter / $length) * ($length - 1);
}

/// Sets the gutter position depending on grid axis.
///
/// @param {Boolean} $vertical - Sets the gutter to either the right or bottom.
///
/// @return {String}
///
@function _gutter-position($vertical) {
    $position: if($vertical, bottom, right);

    @return $position;
}
