@function -nth-cell-size($values, $gutter) {
    $static: ();
    $fr: ();
  
    @each $value in $values {
        @if unitless($value) {
            $fr: append($fr, $value);
        } @else {
            $static: append($static, #{'-'});
            $static: append($static, $value);
        }
    }

    $fraction: if(length($fr) > 0, 1 / length($fr), 1);
    $gutter: if($gutter, ' - #{$gutter}', null);
    $static: if(length($static) > 0, #{$static}, null);
    $percentage: if($static, '(99.99% #{$static})', 100%);

    @return calc(#{$percentage} * #{$fraction}#{$gutter});
}
