/// New sizing function. Still to do.
@function -cell-size($layout, $index, $gutter) {
  $total: sum($layout);
  $length: length($layout);
  $item: nth($layout, $index);
  $static: -sort-static($layout, '-');
  $fr: -sort-fractional($layout);
  $calc-gutter: if($gutter != 0, -calc-gutter($gutter, $layout), null);
  $size: 0;

  // Shrink behaviour
  @if $item == 0 {
    $size: auto;
  }
  @else if not unitless($item) {
    @if $calc-gutter {
      $size: calc(#{$item} - #{$calc-gutter});
    } @else {
      $size: #{$item};
    }
  } @else {
    @if $calc-gutter {
      $size: calc(#{percentage($item / $total)} #{$static} - #{$calc-gutter});
    }
    @else {
      $size: calc(#{percentage($item / $total)} #{$static});
    }
  }

  @return $size;
}