/// Work out the required size for the cell.
///
/// @param {Number|List} $layout - The single value/list to work out sizing.
/// @param {Number}      $index  - The position of the list to get the value from.
/// @param {Number}      $gutter - The gutter value to substract from the size.
///
/// @return {String}
///
@function _cell-size($layout, $index, $gutter) {
  $cell: _select-cell($layout, $index);
  $total-cells: _total-cells($layout);
  $fixed: _filter-static($layout);
  $fluid: _filter-fractional($layout);
  $total-fluid: length($fluid);
  $gutter-allowance: _gutter-allowance($layout, $gutter);
  $calc-required: _calc-required($cell, $gutter);

  $size: 0;

  // Shrink behaviour
  @if $cell == 0 {
    $size: auto;
  }
  // Cell size with a unit
  @else if not unitless($cell) {
    $size: $cell;
  }
  // Fractional cells
  @else {
    $size: 99.9% * $cell / $total-cells;
  }

  // Append any static values
  @if $fixed and unitless($cell) and $cell != 0 {
      @each $value in $fixed {
          $size: $size + ' - #{$value / $total-fluid}';
      }
  }

  // Append the gutter if used
  @if $gutter-allowance and $cell != 0 {
      $size: $size + ' - #{$gutter-allowance}';
  }

  // Wrap size in calc() if needed
  @if $calc-required {
      $size: calc(#{$size});
  }

  @return $size;
}
