@import 'nth-grid';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

div {
    background: #fff;
    padding: 0.5rem;
}

////////////////////////
/// Testing begins here.
////////////////////////

.page {
    @include grid(column, nowrap);
    height: 100vh;
    background: #eee;
    padding: 0;

    > * {
        @include nth-grid(0 0 6 0, 1rem, $vertical: true);
    }
}

.main {
    @include grid;
    background: #eee;
    padding: 0;

    > * {
        @include nth-grid(3 1);
    }
}