@import 'nth-grid';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden;
}

.grid-item {
    padding: 1rem;
    background: tomato;
}

////////////////////////
/// Testing begins here.
////////////////////////

$left: (
    1: 1 1,
    2: 1,
);

$right: (
    1: 1,
    2: 1 1
);

.grid {
    @include grid;
    @include nth-grid(1 1, 40px);
    height: 800px;
}

.left {
    @include grid(column, wrap);
    @include nth-grid(1 1, 40px);
    @include nth-grid($left, 40px, $vertical: true);
}

.right {
    @include grid;
    @include nth-grid(1 1, 40px, $vertical: true);
    @include nth-grid($right, 40px);
}