@import 'nth-grid';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

pre {
    padding: 1.5rem;
    background: #f6f6f6;
    font-size: 1rem;
    border: 1px solid #e6e6e6;
    display: inline-block;
}

.grid-item {
    background: #7FDBFF;
    margin-bottom: 1rem;
    line-height: 50px;
    text-align: center;
    color: #fff;
}


////////////////////////
/// Testing begins here.
////////////////////////

.grid-single {
    @include grid(4, 1rem);
}

.grid-list {
    @include grid(1 2 3 4, 1rem);
}

.grid-list-responsive {
    @include grid(1 3, 1rem);

    @media (min-width: 800px) {
        @include grid(6 3 1 4, 1rem);
    }
}

$grid: (
    1: repeat(12, 1),
    2: repeat(5, 1),
    3: repeat(3, 1)
);

.grid-map {
    @include grid($grid, 1rem);
}

.grid-list-mixed {
    // @include grid(10px 150px 3 340px, 1rem);
}

$list: 1 200px 3 350px;

.demo {
    width: -cell-size($list, 2, 1rem);
}